<!doctype html>
<html> 
    <head>
        <title>파일 서버 정보</title>
    </head>
    <body>
        <h3>원하는 날짜와 장치 아이디를 선택 하세요!</h3>
        <hr>
        <form action="/filenum" method="post">

            <br>날자 입력 예시 20241010<br>
            <input type="text" name="dateType" value="20241010" />
            <br><br>
            <br>장치 아이디 입력 예시 2004<br>
            <input type="text" name="deviceType" value="1001" />
            <br><br>
            <input value="설정" type="submit" />
        </form>
    </body>
</html>
        
    
